<br>
{%  extends "base.html" %}

{% block content %}

<div class="row"> 
    <div class="col-sm-6">
      <div class="jumbotron test-center">
        <h1 class="display-4">Delete events!</h1>
      <br>
      <div class="card">
        <div class="card-body">
        <p>Please enter the loop event you want to be deleted</p>
        <form method='POST'>
            {{form.hidden_tag()}}
            {{form.id.label}}  <br> {{form.id()}}
            <br>
            <br>
            <p>
                {{form.submit()}}
            </p>
          </form>
        </div>
      </div>
    </div>
    </div>
{% endblock %}