<br>
{% extends "base.html" %}
{% block content %}

<div class="row"> 
    <div class="col-sm-6">
      <div class="jumbotron">
        <h1 class="display-4">Loop events!</h1>
      <br>
      <div class="card">
        <div class="card-body">
          <form method='POST'>
            {{ form.hidden_tag()}}
            {{ form.event_types.label}} <br> {{form.event_types()}}
            <br>
            <br>
            {{form.phone_or_email.label}} <br> {{form.phone_or_email()}}
            <br>
            <br>
            {{form.accompained_by.label}} <br> {{form.accompained_by()}}
            <br>
            <br>
            {{form.comment.label}} <br> {{form.comment()}}
            <br>
            <br>
            <p>
                {{form.submit()}}
            </p>
          </form>
        </div>
      </div>
    </div>
    </div>
{% endblock %}


