{% extends "base.html" %}
{% block content %}

<div class="row"> 
    <div class="col-sm-6">
      <div class="jumbotron">
        <h1 class="display-4">Loop events!</h1>
      <br>
      <div class="card">
        <div class="card-body">
          <form method='POST'>
            {{ form.hidden_tag() }}
            {{ form.event_types.label }} <br> {{ form.event_types() }}
            <br>
            <br>
            <div class="col-12">
              <label for="Start date">Start date:</label>
              <input type="date" id="Date" name="Date">
              <label for="Start time">Start time:</label>
              <input type="time" name="myDateTime" id="myDateTime" />
            </div>
            <br>
            <div class="col-12">
              <label for="Start date">End date:</label>
              <input type="date" id="Date" name="Date">
              <label for="Start time">End time:</label>
              <input type="time" name="myDateTime" id="myDateTime" />
            </div>
            <br>
            {{ form.loved_ones_name.label }} <br> {{ form.loved_ones_name() }}
            <br>
            <br>
            {{ form.phone_or_email.label }} <br> {{ form.phone_or_email() }}
            <br>
            <br>
            <p>
                {{form.submit()}}
            </p>
          </form>
        
        </div>
      </div>
    </div>
    </div>
{% endblock %}


